[Desktop Entry]
Name=iOS Backup Explorer
Comment=Esplora ed esporta dati dai tuoi backup iOS crittografati
Exec=bash -c 'cd "$(dirname "%k")" && ./run.sh'
Icon=phone
Terminal=false
Type=Application
Categories=Utility;
StartupNotify=true
